In [1]:
print("hello thiru")

hello thiru

# comments

In [2]:
# single line comment

#add two numbers
5+6

11

In [11]:
'''
line1
line2
line3
.
.
.
.
lineN
'''
5*6

30

In [7]:
# line1
# line2
# line3
# .
# .
# .
# .
# line4
5+6

11

# qutoes

In [12]:
'
"
'''  | """

SyntaxError: EOL while scanning string literal (2504036007.py, line 1)

In [18]:
name='Riyansh'
print(name)

Riyansh

In [20]:
company="Idexcel"
print(company)

Idexcel

In [24]:
college='st\'s joesph colleage engineer'
print(college)

st's joesph colleage engineer

In [25]:
about="Python is high-level language"

In [26]:
print(about)

Python is high-level language

In [55]:
x=20
if x>18:
  print("you can vote")
  print("indian rule")
else:
  print("you cant vote")
  print("indian rule")

you can vote
indian rule

In [45]:
x=15
if x<12:
  print("you can vote")
  print("vbxkzkxjchgvdhsj")
else:
  print("fdhjsfdghsj")  
  print("hsjdc")

fdhjsfdghsj
hsjdc

In [45]:
x=15
if x<12:
  print("you can vote")
  print("vbxkzkxjchgvdhsj")
else:
  print("fdhjsfdghsj")  
  print("hsjdc")

fdhjsfdghsj
hsjdc

In [45]:
x=15
if x<12:
  print("you can vote")
  print("vbxkzkxjchgvdhsj")
else:
  print("fdhjsfdghsj")  
  print("hsjdc")

fdhjsfdghsj
hsjdc

In [45]:
x=15
if x<12:
  print("you can vote")
  print("vbxkzkxjchgvdhsj")
else:
  print("fdhjsfdghsj")  
  print("hsjdc")

fdhjsfdghsj
hsjdc

In [45]:
x=15
if x<12:
  print("you can vote")
  print("vbxkzkxjchgvdhsj")
else:
  print("fdhjsfdghsj")  
  print("hsjdc")

fdhjsfdghsj
hsjdc

In [53]:
a="Thiru"
b="Arav"
y=a+b
print(y)

ThiruArav

In [4]:
a,b='06'
b,c='26'
print(a+b)

02

In [37]:
x>25
if x>2:
    print("you can eligibity for vote")
    print("indian rule")
else:    
    print("you are not eligibility for vote")
    print("Indian rule")

you can eligibity for vote
indian rule

In [57]:
age=0
if age>18 and age>100:
    print("you can vote")
    print("It is valid only for indian citizen")
    print("pleasde check your own city standards if you are from other country")
elif age<0 or age>100:
    print("Invalid age. Please check")
elif age==0:
    print("You are a just born baby!")
else:
    print("You cannot vote")
    print("Because you are less than 18 years old")
    print("Out of conditional statement")

You are a just born baby!

 # print function

In [58]:
print("hello thiru")

hello thiru

In [63]:
name='Thirupathi'
print(name)

Thirupathi

In [71]:
name='Thirupathi'
age='27'

# Trainer's name is Thirupathi and he is 27 years old

print("Trainer's name is",name, "and he is",age, "years old")

Trainer's name is Thirupathi and he is 27 years old

In [72]:
name='Thirupathi'
age='27'

# Trainer's name is Thirupathi and he is 27 years old

print("Trainer's name is",name, "and he is",age, "years old")

Trainer's name is Thirupathi and he is 27 years old

In [77]:
print("Trainer's name is {} and he is {} years old".format(name,age))

Trainer's name is Thirupathi and he is 27 years old

In [78]:
print(f"Trainer's name is {name} and he is {age} years old")

Trainer's name is Thirupathi and he is 27 years old

In [82]:
print("Trainer's name is:name")

Trainer's name is:name

In [83]:
print("Trainer's name is:",name)

Trainer's name is: Thirupathi

In [85]:
print("Trainer's age is:",age)

Trainer's age is: 27

# input Function

In [2]:
name=input("enter your name")
age=input("enter your age")
print("type of input name is:",type(name))
print("type of input name is:",type(age))

enter your name Gangadhari Thirupathi
enter your age 24

type of input name is: <class 'str'>
type of input name is: <class 'str'>

In [3]:
name=input("enter your name")
age=int(input("enter your age"))
print("type of input name is:",type(name))
print("type of input name is:",type(age))

enter your name Gangadhari Thirupathi
enter your age 24

type of input name is: <class 'str'>
type of input name is: <class 'int'>

In [8]:
name=input("enter your name")
age=int(input("enter your age"))
age=age+2
print("type of input name is:",type(name))
print("type of input name is:",type(age))
print("Age is:",age)

enter your name Gangadhari Thirupathi
enter your age 24

type of input name is: <class 'str'>
type of input name is: <class 'int'>
Age is: 26

In [13]:
name=input("enter your name")
accountnumber=input("enter your accountnumber")
pincode=input("enter your pincode")
print("{},{},{}".format(name, accountnumber,pincode))

enter your name Thuiru
enter your accountnumber 55454454544
enter your pincode 4465464

Thuiru,55454454544,4465464

In [16]:
name=input("enter your name")
accountnumber=input("enter your accountnumber")
pincode=int(input("enter your pincode"))
print("{},{},{}".format(name, accountnumber,pincode))
print("the type of name:{},accountnumber:{} and pincode:{}".format(type(name),type(accountnumber),type(pincode)))

enter your name Gangadhari Thirupathi
enter your accountnumber 55454454544
enter your pincode 560029

Gangadhari Thirupathi,55454454544,560029
the type of name:<class 'str'>,accountnumber:<class 'str'> and pincode:<class 'int'>

In [17]:
def get_user_info():
    try:
        name = input("Enter your name: ")
        age = int(input("Enter your age: "))
        height = float(input("Enter your height in meters: "))
        print(f"Hello, {name}! You are {age} years old and {height} meters tall.")
    except ValueError:
        print("Invalid input. Please enter a valid number for age and height.")

get_user_info()

Enter your name:  Gangadhari Thirupathi
Enter your age:  56
Enter your height in meters:  3

Hello, Gangadhari Thirupathi! You are 56 years old and 3.0 meters tall.

In [19]:
color = input("Enter your favorite color: ")
print(f"Your favorite color is {color}.")

Enter your favorite color:  pink

Your favorite color is pink.